<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="700" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif;margin:0 auto;padding:0px;">
  <tr>
    <td style="vertical-align:top;text-align: center;"><img width="200px" src="https://cdn.shopify.com/s/files/1/0039/6073/3763/files/logo_Bare_Anatomy-01_1.svg?16403" style="margin:10px 0 25px 0;padding:0px;"></td>
  </tr>
  <tr>
    <td style="text-align: center;font-size: 19px;font-weight: 600;">Consumer Batch Card- Conditioner</td>
  </tr>
  <tr style="height:5px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="vertical-align:top;"><table width="700" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;padding:0px;">
        <tr>
          <td style="width:70%;position:relative;overflow:hidden;font-size:14px;">Name:<b style="position: absolute;left: 50px;width: 100%;bottom: 3px;"></b>
            <label>{{name}}</label></td>
          <td style="width:30%;position:relative;font-size:14px;overflow:hidden;">Location <b style="position: absolute;right: 0;bottom: 3px;"></b>
            <label>{{location}}</label></td>
        </tr>
      </table></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="width:100%;position:relative;overflow:hidden;font-size:14px;">Order Number : <b style="position: absolute;right: 0;width: 85%;bottom: 3px;"></b>
      <label>{{ordernumber}}</label></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
      <td style="vertical-align:top;"><table width="700" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;padding:0px;">
          <tr>
            <td style="width:70%;position:relative;overflow:hidden;font-size:14px;">Formulation Date:<b style="position: absolute;left: 50px;width: 100%;bottom: 3px;"></b>
              <label></label></td>
            <td style="width:30%;position:relative;font-size:14px;overflow:hidden;">Volume<b style="position: absolute;right: 0;bottom: 3px;"></b>
              <label>{{volume}}</label></td>
          </tr>
        </table></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="width:100%;position:relative;overflow:hidden;font-size:14px;">Type of Scalp : <b style="position: absolute;right: 0;width: 86%;bottom: 3px;"></b>
      <label>{{typeofscalp}}</label></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="width:100%;position:relative;overflow:hidden;font-size:14px;">Hair Goals : <b style="position: absolute;right: 0;width: 89%;bottom: 3px;"></b>
      <label>{{hairgoals}}</label></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="width:100%;position:relative;overflow:hidden;font-size:14px;">Base Batch Number : <b style="position: absolute;right: 0;border-bottom: 2px dotted #000;width: 81%;bottom: 3px;"></b>
      <label></label></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr style="height:20px;">
    <td><table width="700" border="0" cellspacing="0" cellpadding="0" style="font-size:13px;">
        <tr>
          <th style="border:1px solid #ddd;padding:5px 8px;border-right:0px;">S. No.</th>
          <th style="border:1px solid #ddd;padding:5px 8px;border-right:0px;">Ingredients</th>
          <th style="border:1px solid #ddd;padding:5px 8px;border-right:0px;">% w/w</th>
          <th style="border:1px solid #ddd;padding:5px 8px;">Quantity in gm.</th>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">1</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Water</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">QS</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">QS</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">2</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">COND-1</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">3</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">12.00</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">3</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">C-alcohol</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">4</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">16.00</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">4</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">E- wax</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">3</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">12.00</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">5</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Fly wax</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">4</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">4.00</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">6</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Dimethicone</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">3</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">12.00</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">7</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Preservative-1</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">0.2</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">0.80</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">8</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Preservative-2</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">0.5</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">2.00</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">9</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Coconut</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">2.5</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">10.00</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">10</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Chelating DTA</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">0.2</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">0.80</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">11</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">12</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">13</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">14</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">15</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">16</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">17</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">{{color}}</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">18</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">{{perfume}}</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">&nbsp;</td>
        </tr>
        <tr style="text-align:center;">
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">&nbsp;</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">Total</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-right:0px;border-top:0px;">100</td>
          <td style="border:1px solid #ddd;padding:5px 8px;border-top:0px;">400.00</td>
        </tr>
      </table></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="width:100%;position:relative;overflow:hidden;font-size:14px;">Notes : <b style="position: absolute;right: 0;width: 93%;bottom: 3px;"></b>
      <label>{{notes}}</label></td>
  </tr>
  <tr style="height:20px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="width:100%;position:relative;overflow:hidden;font-size:14px;height: 10px;"><b style="position: absolute;right: 0;border-bottom: 2px dotted #000;width:100%;bottom: 3px;"></b>
      <label></label></td>
  </tr>
  <tr style="height:10px;">
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style="vertical-align:top;"><table width="700" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0 0 0;padding:0px;">
        <tr>
          <td style="width:70%;position:relative;overflow:hidden;font-size:14px;">PREPARED BY :<b style="position: absolute;left: 100px;border-bottom: 2px dotted #000;width: 30%;bottom: 3px;"></b>
            <label></label></td>
          <td style="width:30%;position:relative;font-size:14px;overflow:hidden;">APPROVED BY <b style="position: absolute;right: 0;border-bottom: 2px dotted #000;width: 50%;bottom: 3px;"></b>
            <label></label></td>
        </tr>
      </table></td>
  </tr>
  <tr style="height:30px;">
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
